<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Management System</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="center">
        <div>
            <h1>Product Management System</h1>
            <hr>
            <h3>Update Product</h3>

            <form action="#" th:action="@{/products/save}" th:object="${product}" method="post">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:field="*{name}" placeholder="Product Name">
                <input type="number" th:field="*{price}" placeholder="Product Price">
                <button type="submit">Update Product</button>
            </form>

            <hr>

            <a th:href="@{/products}">Back to Product List</a>
        </div>
    </div>
</body>
</html>