body {
    background: #313131;
    color: white;
    font-size: 20px;
}

td, th, table {
    border: 2px solid #8f8f8f;
    border-collapse: collapse;
    text-align: start;
    padding: 6px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #5fcaff;
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    color: white;
    padding: 2px 7px;
}

.btn-primary {
    background-color: #008cff;
}

.btn-danger {
    background-color: #ff2626;
}

.number-input {
    width: 40px;
}

.alter-btn {
    border: none;
    background-color: #1482e1;
}