<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IKEA</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
    <script th:src="@{/scripts/shop.js}"></script>
</head>
<body>
    <div class="center">
        <div>
            <h3>Price Calculator</h3>
            <div style="border: white 1px solid">
                <label>
                    <select id="user" onchange="window.location.href= '/shop/' + this.value">
                        <option value="none" selected>Select a Customer</option>
                        <option th:value="${user}" id="user-value" disabled hidden></option>
                        <option th:each="customer:${allcustomerslist}" th:id="*{customer.id}" th:value="*{customer.id}" th:text="*{customer.email}"></option>
                    </select>
                </label>
                <div>
                    <div>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Price</th>
                            </tr>
                            <tbody>
                                <tr th:each="products:${allproductslist}">
                                    <td th:text="${products.name}"></td>
                                    <td >
                                        <button class="alter-btn" th:onclick="'removeFromCart(' + ${products.id} + ')'">-</button>
                                        <label>
                                            <input class="number-input" type="number" name="count" min="0" th:oninput="'setItemCount(' + ${products.id} + ', this.value)'" th:id="'product count ' + ${products.id}">
                                        </label>
                                        <button class="alter-btn" th:onclick="'addToCart(' + ${products.id} + ')'">+</button>
                                    </td>
                                    <td th:id="'product price ' + ${products.id}"></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td id="total-count"></td>
                                    <td id="total-price"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        if (localStorage.getItem("cart") == null) {
            createCart([[${allproductslist}]])
        }
        load([[${rebate}]])
        /*]]*/
    </script>
</body>
</html>